---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Persepolis</h1>
  <a>En esta extraesolar los alumnos pasar un buen rato jugando al deporte más practicado del mundo.</a>
<div class="single__player clearfix">
      <div class="row">
        <div class="col-md-4">
          <img src="https://imagessl3.casadellibro.com/a/l/t5/43/9788417910143.jpg" width="100%">
       </div>
     </div>
</div>
</BaseLayout>